h1 {
    color: aliceblue;
}

h2 {
    color: paleturquoise;
}

.foolio {
    color:darkorchid
}

body {
    background-color: skyblue;
}

#coolio {
    color:darkcyan 
}

.slay {
    color:blueviolet
}

header {
    color:red
    font-size: 40px;
    font-family:Fantasy
}
.footer{
    text-align:center
}
.main {
    text-align:center
}

.header {
    text-align:center
}
footer {
    text-align:center
}
main {
    text-align:center
}
header:hover{color:skyblue;}